/* Animations */

.color-change-animation {
  animation-name: color-change;
  animation-duration: 1s;
}

@keyframes color-change {
  from {
    background-color: green;
  }
  to {
    background-color: black;
  }
}

/* Navigation bar */
.navbar {
  padding: 1rem;
  border-radius: 20px;
}

.nav-item {
  margin-right: 1rem;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: yellow;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .nav-link {
  background-color: yellow;
  color: black;
}

.dropdown-content .dropdown_server_list {
  background-color: chocolate;
}

/* Auth buttons */
.auth-buttons {
  position: absolute;
  right: 10px;

  border-right: 0;
}

.logout_button {
  background-color: red;
  border-radius: 0;
  border-color: red;
  /*position: absolute;*/
  /*right: 10px;*/
}

.logged_in_as {
  background-color: lightgreen;
  border-radius: 0;
  border-color: lightgreen;
 }

/* Logged-in username */
.logged-in-username {
  position: fixed;
  right: 30px;
}

body {
    background-color: lightslategrey;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 20px;
    padding: 0;
}

.modal-header {
  background-color: green;
  color: white;
}
.modal-body {
  padding: 20px;
}
.btn-primary {
  background-color: green;
  border-color: green;
}
.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
/* KVM_user list */
.user-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  width: 200px;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  /*background-image: url('https://via.placeholder.com/50');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2em;
}

.section h2 {
  margin-top: 0;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px #666666;
}

.section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section li {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.user-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  width: 200px;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}

.section h2 {
  margin-top: 0;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px #666666;
}

.section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section li {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.kvm_section {
  width: 600px;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
}

.page_title {
  background-color: #ffc107;
  height: 100px;
  text-align: left;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 2em;
  }

.page_title h1 {
  font-weight: bold;
  }

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form {
  width: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
}

.login-form .alert {
  text-align: center;
}

.log-entry {
  border-bottom: 5px solid lightslategrey;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.port-form {
  width: 50%;
  height: 20%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}