{% extends 'base.html' %}

{% block countdown %}
    <script>
        setTimeout(function() {
            window.location.reload();
        }, 60000);

        // Display the countdown timer
        function updateCountdown() {
            var countdownElement = document.getElementById('countdown');
            var remainingTime = parseInt(countdownElement.getAttribute('data-remaining-time'), 10) - 1;
            countdownElement.setAttribute('data-remaining-time', remainingTime);
            var minutes = Math.floor(remainingTime / 60);
            var seconds = remainingTime % 60;
            countdownElement.textContent = minutes + ':' + String(seconds).padStart(2, '0');
            if (remainingTime > 0) {
                setTimeout(updateCountdown, 1000);
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var countdownElement = document.getElementById('countdown');
            countdownElement.setAttribute('data-remaining-time', 60);
            updateCountdown();
        });
    </script>

{% endblock %}