{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

<head>
    <link rel="icon" href="{% static "network.gif" %}"/>
    <title>{% block title %}KVM Access{% endblock %}</title>
</head>

<div style="height: 70px;"></div> <!-- Placeholder to push content down and avoid being covered by the navbar -->
<div class="container">
    <div class="page_title">
        <h1 id="title">Give KVM Access</h1>
    </div>
<div class="kvm_section"; id="message"; style="display: none">
    <div class="message">{{ message }}</div>
    <br>
    <button class="btn btn-primary" id="copyButton">Copy</button>
</div>
<br>
    <form id="create-user-form" method="POST" action="{% url 'kvmwebapp:give_access' %}">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-0">
                <select class="form-control" id="id_username" name="username" required>
                    <option value="">Select a user</option>
                    {% for user in usernames %}
                        <option value="{{ user.username }}">{{ user.username }} | {{ user.email }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-0">
                <input type="hidden" class="form-control" id="email" name="email" placeholder="Email">
            </div>
        </div>

        <input type="hidden" name="row" value="{{ row }}">
        <input type="hidden" name="rack" value="{{ rack }}">
        <input type="hidden" name="rack_port" value="{{ rack_port }}">
        <input type="hidden" name="server_room" value="{{ server_room }}">
        <div class="form-group row">
            <label for="id_start_time" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="hidden" name="start_time" class="form-control" id="id_start_time" value="{{ current_time }}" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-0">
                <input id="create-button" type="submit" value="Give" class="btn btn-primary">
            </div>
        </div>
        <input type="hidden" name="username" id="id_hidden_username">
    </form>
    <button class="btn btn-primary" style="display: none" id="home" onclick="location.href='/server_room/{{ server_room }}'">OK</button>
</div>

<script>
document.getElementById('copyButton').addEventListener('click', function() {
    // Get the message content
    var message = document.querySelector('.message').innerHTML;

    // Split the message into an array of lines
    var lines = message.split('<br>');

    // Join the lines with a newline character
    var text = lines.join('\n');

    // Create a new element to hold the text to be copied
    var textarea = document.createElement('textarea');
    textarea.value = text;
    document.body.appendChild(textarea);

    // Select and copy the text
    textarea.select();
    document.execCommand('copy');

    // Clean up
    document.body.removeChild(textarea);

    // Show a confirmation message
    alert('Message copied to clipboard!');
});



function formatDate(date) {
    var year = date.getFullYear();
    var month = (date.getMonth() + 1).toString().padStart(2, '0');
    var day = date.getDate().toString().padStart(2, '0');
    var hours = date.getHours().toString().padStart(2, '0');
    var minutes = date.getMinutes().toString().padStart(2, '0');
    return year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
}


document.getElementById('create-user-form').addEventListener('submit', function(event) {
    event.preventDefault();
    var form = event.target;

    document.getElementById('id_hidden_username').value = document.getElementById('id_username').value;
    document.getElementById('id_username').hidden = true;
    document.getElementById('create-button').hidden = true;
    document.getElementById('email').hidden = true;
    document.getElementById("home").style.display = "block";
    document.getElementById('title').innerHTML = 'Access given';


    var now = new Date();
    document.getElementById('id_start_time').value = formatDate(now);
    document.getElementById('id_start_time').hidden = true;


    // Add the formatted stop_time to FormData
    var formData = new FormData(form);


    console.log('Submitting form with data:', formData);

    fetch(form.action, {
        method: 'POST',
        body: formData
    }).then(function(response) {
        return response.json();  // Always parse the JSON response
    }).then(function(data) {
        if (data.success) {
            document.getElementById('title').innerHTML = 'Access given';
            document.getElementById('message').style.display = "block";
            console.log('Form submission successful');
            var message = 'Username: ' + data.username + '<br>Password: ' + data.password + '<br>Email: ' + data.email + '<br>Issued by: ' + data.issued_by + '<br><br>Use your username and password to log in to the KVM web app.';
        } else {
            document.getElementById('title').innerHTML = 'Error';
            document.getElementById('message').style.display = "block";
            console.log('Form submission failed with errors:', data.errors);
            var message = '';
            for (var field in data.errors) {
                message += data.errors[field].join(' ') + '<br>';
            }
        }
        document.querySelector('.message').innerHTML = message;
    }).catch(function(error) {
        console.error('Form submission error:', error);
    });
});
</script>

