{% block modal %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

<div class="modal fade" id="portModal" tabindex="-1" aria-labelledby="portModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="portModalLabel">Choose an action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" id="createUserBtn">Give KVM Access</button>
        <button type="button" class="btn btn-secondary" id="toggleActiveBtn">Deactivate Port</button>
        <button type="button" class="btn btn-danger" id="selectKVMPort">Select KVM port</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to activate/deactivate port -->
<div class="modal fade" id="activatePortModal" tabindex="-1" aria-labelledby="activatePortModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activatePortModalLabel">Activate/Deactivate Port</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to activate this port?</p>
        <button type="button" class="btn btn-primary" id="activatePortBtn">Activate</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}