<body>
<div class="modal fade" id="userInfoModal" tabindex="-1" aria-labelledby="userInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userInfoModalLabel">User Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Username: <span id="username"></span></p>
        <p>First name: <span id="first-name"></span></p>
        <p>Last name: <span id="last-name"></span></p>
        <p>Email: <span id="email"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn edit-something-button" onclick="location.href='/update_user/' + user.id">Edit User</button>
        <button type="button" class="btn change-password-button" onclick="location.href='/change_password/' + user.id">Change password</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>