{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
{% block table %}
    <div class="page_title">
        <h1>{{ current_server_room }}</h1>
    </div>
    <div style="overflow: auto">
    <table id="port-table" class="port-table">
        <thead>
            <tr>
                <th></th>
                {% for rack in num_racks %}
                    <th colspan="{{ max_num_ports }}">Rack {{ rack }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in num_rows %}
                <tr>
                    <td>{{ row }}</td>
                    {% for rack in num_racks %}
                        {% for port in num_ports %}
                            <td id="port-{{ row }}-{{ rack }}-{{ port }}"></td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

<style>
th {
      border: 1px solid black;
    }
td {
      border: 1px solid black;
    }
</style>

<script>
    setInterval(function() {
        location.reload();
    }, 10000);
</script>