{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
{% block table %}
    <div style="overflow: auto">
    <table id="port-table" class="port-table">
        <thead>
            <tr>
                <th></th>
                {% for rack in num_racks %}
                    <th colspan="2">Rack {{ rack }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in num_rows %}
                <tr>
                    <td>{{ row }}</td>
                    {% for rack in num_racks %}
                        <td id="port-{{ row }}-{{ rack }}-1"></td>
                        <td id="port-{{ row }}-{{ rack }}-2"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

<style>
th {
      border: 1px solid black;
    }
td {
      border: 1px solid black;
    }
</style>

<script>
    setInterval(function() {
        location.reload();
    }, 30000);
</script>