{% load static %}
{% block content %}
  <!-- Button to trigger the modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">
    Create User
  </button>

<head>
    <link rel="icon" href="{% static "network.gif" %}"/>
    <title>{% block title %}Create user{% endblock %}</title>
</head>

  <!-- Create User Modal -->
  <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createUserModalLabel">Create User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="create-user-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create User</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    document.querySelector('#create-user-form').addEventListener('submit', function (event) {
      event.preventDefault();
      fetch(event.target.action, {
        method: event.target.method,
        body: new FormData(event.target),
        headers: {'X-CSRFToken': '{{ csrf_token }}'}
      })
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        if (data.success) {
          // Close the modal
          $('#createUserModal').modal('hide');
          // Refresh the page to show the new user
          window.location.reload();
        } else {
          alert(data.errors);
        }
      })
      .catch(function (error) {
        console.log(error);
      });
    });
  </script>
{% endblock %}

